<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<title>Coursework 1</title>
</head>

<body>
	<div id="app">
		<main>
			<div class="header">
				<div class="sort">
					<select name="sortBy" id="sortBy" v-model="sortBy">
						<option value="subject">Sort by Subject</option>
						<option value="location">Sort by Location</option>
						<option value="price">Sort by Price</option>
						<option value="availability">Sort by Availability</option>
					</select>
					<select name="orderBy" id="orderBy" v-model="orderBy">
						<option value="ascending">Order by Ascending</option>
						<option value="descending">Order by Descending</option>
					</select>
				</div>

				<form action="#" class="search">
					<input type="text" v-model="searchTerm" placeholder="Search for a lesson">
				</form>

				<button class="cart-btn" v-if="cart.length === 0 && showLessons !== false" disabled>
					Cart&nbsp;&nbsp;&nbsp;
					<span class="fas fa-cart-plus"></span>
					{{cart.length}}
				</button>

				<button class="cart-btn" value="add" @click="toggleCart" v-else>
					Cart&nbsp;&nbsp;&nbsp;
					<span class="fas fa-cart-plus"></span>
					{{cart.length}}
				</button>
			</div>

			<div v-if="showLessons === true">
				<h1>All Lessons</h1>
				<br>
				<div class="lessons">
					<div v-for="(lesson, index) in sorted" :key="index" class="lesson">
						<div class="details">
							<div class="image">
								<img v-bind:src="lesson.image" alt="">
							</div>
							<div class="text">
								<p>Subject: {{lesson.subject}}</p>
								<p>Location: {{lesson.location}}</p>
								<p>Price: ${{lesson.price}}</p>
								<p>Spaces: {{lesson.spaces - cartCount(lesson)}}</p>
							</div>
						</div>
						<button @click="addToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
						<button disabled='disabled' v-else>Add to Cart</button>
					</div>
				</div>
			</div>

			<div v-if="showLessons === false">
				<div class="shopping-cart">
					<div class="cart">
						<h1>Shopping Cart</h1>
						<div class="no-items" v-if="cart.length === 0">
							<h4>Your cart is empty!</h4>
							<p>Looks like you've not added abything to your cart yet.</p>
							<button value="add" @click="toggleCart">
								Back to Lessons&nbsp;&nbsp;
								<span class="fas fa-cart-plus"></span>
							</button>
						</div>
						<div class="items" v-else>
							<div v-for="(lesson, index) in cart" :key="index" class="item">
								<div class="details">
									<div class="image">
										<img v-bind:src="lesson.image" alt="">
									</div>
									<div class="text">
										<p>Subject: {{lesson.subject}}</p>
										<p>Location: {{lesson.location}}</p>
										<p>Price: {{lesson.price}}</p>
									</div>
								</div>
								<button @click="removeFromCart(lesson)">Remove</button>
							</div>
						</div>

						<div class="checkout">
							<h1>Checkout</h1>
							<div class="form">
								<input type="text" name="name" id="name" placeholder="Name" v-model.trim="checkout.name"
									@keyup="canCheckout">
								<input type="text" name="phone" id="phone" placeholder="Phone" v-model="checkout.phone"
									@keyup="canCheckout">
								<button class="checkout-btn" v-on:click="cartCheckout" type="submit">Checkout</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

</body>
<script src="js/lessons.js"></script>
<script src="js/script.js"></script>

</html>